






<nav class=" p-6 ">

    <div class="container mx-auto flex justify-between items-center">

      <div class="flex items-center space-x-2">
        <img src="/images/logo-nav.webp" alt="GTA 6 Logo" class="w-6 h-5">
        <span class="text-xl font-bold">GTA 6</span>
      </div>

      <div class="hidden md:flex space-x-6">
        <a href="#" class="hover:text-red-500">Início</a>
        <a href="#" class="hover:text-red-500">Notícias</a>
        <a href="#" class="hover:text-red-500">Galeria</a>
        <a href="#" class="hover:text-red-500">FAQ</a>
      </div>
      
      <button class="btn btn-primary bg-red-600 hover:bg-red-700 border-none md:hidden">
        <i class="fas fa-bars"></i>
      </button>

    </div>

  </nav>
